<div class="p-5">
    <h3>Reactive Form</h3>
    {{rf.value|json}}
    <form [formGroup]="rf">
        <div class="mb-3">
          <label for="name" class="form-label">Name</label>
          <input type="email" class="form-control" id="name" name="name" formControlName="name">
         
        </div>
        <div class="mb-3">
            <label for="Email" class="form-label">Email</label>
            <input type="email" class="form-control" id="Email" name="Email" formControlName="email">
            {{email.errors|json}}
            <div *ngIf="email.invalid && email.dirty" class="text-danger">
                <span *ngIf="email.errors!['email']">
                  Enter valid email address
                </span>
                </div>
               </div>
        <div class="mb-3 form-check">
            <label for="Age" class="form-label">Age</label>
            <input type="email" class="form-control" id="Age" formControlName="age">
            {{age.errors|json}}
            <div *ngIf="age.invalid && age.dirty" class="text-danger">
                <span *ngIf="age.errors!['min']">
                  Min age required is 18
                </span>
                <span *ngIf="age.errors!['max']">
                  Max age required is 30
                </span>
            </div>
            </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
      </div>
